# Port range
network.port_range.set = 49164-49164

# Maximum and minimum number of peers to connect to per torrent
min_peers = 40
max_peers = 300

# Same as above but for seeding completed torrents (-1 = same as downloading)
min_peers_seed = 10
max_peers_seed = 350

# Maximum number of simultaneous uploads per torrent
max_uploads = 15

# Global upload and download rate in KiB (0 for unlimited)
# download_rate = ?
# upload_rate = ?

# Encryption settings
encryption = require,require_RC4,allow_incoming,try_outgoing,enable_retry

# Default directory to save the downloaded torrents
directory = ~/.rtorrent/downloads

# Default session directory
# Note: do not run multiple instances of rtorrent using the same session directory
session = ~/.rtorrent/session

# Watch a directory for new torrents, restart torrents that have been
# copied back and stop those that have been deleted.

schedule = watch_directory,10,10,load.start=~/.rtorrent/watch/*.torrent
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=

# Close torrents when disk space is low
schedule = low_diskspace,5,60,close_low_diskspace=5120M

# Use UDP trackers
trackers.use_udp.set = yes

# Enable DHT support for trackerless torrents or when all trackers are down.
# May be set to "disable" (completely disable DHT), "off" (do not start DHT),
# "auto" (start and stop DHT as needed), or "on" (start DHT immediately).
# The default is "off". For DHT to work, a session directory must be defined.
dht = auto

# Enable peer exchange (for torrents not marked private)
protocol.pex = yes

# Encoding
encoding_list = UTF-8

# Max file size
system.file.max_size.set = 500G

# Sorting/filtering views
# main: by upload
view.sort_current = main,greater=d.up.total=
view.sort_new = main,less=d.up.total=
view.sort = main
# seeding: by upload rate, only show torrents with peers
view.sort_current = seeding,greater=d.up.rate=
view.filter = seeding,"and=d.complete=,d.peers_connected="
view.sort_new = seeding,less=d.up.rate=
view.sort = seeding
# leeching: by name
view.sort_current = leeching,greater=d.name=
view.sort_new = leeching,greater=d.name=
view.sort = leeching
# active: by name, only show torrents with peers
view.sort_current = active,less=d.name=
view.sort_new = leeching,less=d.name=
view.filter = active,d.peers_connected=
view.sort = active
# maintain sorting
schedule = sort_main,11,5,view.sort=main
schedule = sort_seeding,12,5,view.sort=seeding
schedule = sort_leeching,13,5,view.sort=leeching
schedule = sort_active,14,5,view.sort=active
